{% extends 'requestApp/base.html' %}
{% block content %}


<table>
    <tr>
        {% if req.is_agreed %}
        <td class="link-button"><a href="{% url 'req-list' %}">&#8592; Повернутись до загального списку </a></td>
        {% else %}
        <td class="link-button"><a href="{% url 'req-list' %}">&#8592; Відмінити редагування </a></td>

        {% if req.id %}
        <td class="link-button"><a href=" {% url 'req-delete' req.id %} ">&#8592; Видалити заявкуРДС</a></td>
        {% if request.user.id == 1 %}
        {% if req.is_ready %}
        <td class="link-button sign-button"><a href="{% url 'req-agree' %}">&#8592; Підписати заявкуРДС </a></td>
        {% endif %}
        {% endif %}

        {% endif %}
        {% endif %}


    </tr>


    <tr>
        <td>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}

            {% if not req.is_agreed %}

            <input class="button" type="submit" value="Зберегти заявкуРДС на погодження">

            {% endif %}

        </form>
        </td>
        <td>

        </td>
    </tr>
</table>

{% endblock %}